:root{

    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #adb5bd;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --black: #000;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #0d6dfdaf;
    --light: #f8f9fa;
    --dark: #212529;

    --back-ground: #8A38F0;
    
}
/* Basics setting */
a , ul{
    text-decoration: none;
    list-style: none;
}
*::selection{
    background-color: yellow;
    color: #000;
}
section{
    margin-bottom: 10px;
}
.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    background-color: var(--gray-300);
    
}
.main-title{
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding: 50px ;
    font-size: 72px;
    font-weight: 900;
    color:#0d6dfd59;
    letter-spacing: 3px;
}
/* Basics setting */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    background-color: #0d6dfd59;
}
header{
    z-index: 888;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 5%;
    margin: auto;
    height: 100px;
    background-color: #0d6dfd00;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    
}
header .container .logo{
    width: 10%;
}
header .container .logo h1{
    color: var(--danger);
    font-size: 48px;
    font-weight: 700;
}
header .container .photo{
    position: relative;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
header .container .photo img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header .container ul.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container ul.nav2{
    display: none;

}
header .container ul li{
    margin-left: 10px; 
}
header .container ul li a{
    color: var(--danger);
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}
.active{
    position: relative;
    overflow: hidden;
}
.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--danger);
    width: 100%;
    height: 2px;
}
header .bars{
    display: none;
    cursor: pointer;
}
.hide{
    display: none !important;
}
#scrollbtn{
    position: fixed;
    right: 40px;
    z-index: 9999;
    bottom: 20px;
    background-color: #0d6dfd5b;
    color: var(--danger);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
/* Header Media */
@media (min-width: 280px) 
    and (max-width: 480px)
    {
        header .container .logo{ 
            width: 20%;
        }
        header .container .photo {
            width: 50%;
            display: flex;
            align-items: center;
            z-index: 9999;
        }
        header .container .photo img {
            width: 70px;
            height: 70px;
            transform: translate(120%,25%);
        }
        header .container ul.nav-links{
            display: none;
        }
        header .container ul.nav2{
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--yellow);
            height: 200px;
            width: 95%;
            right: 10px;
            top: 95px;
            gap: 20px;
        }
        header .bars{
            display: flex;
            font-size: 36px;
            color: var(--danger);
        }
    }
    @media (min-width: 481px) 
    and (max-width: 768px)
    {
        header .container .logo{ 
            width: 20%;
        }
        header .container .photo {
            width: 50%;
            display: flex;
            align-items: center;
            z-index: 9999;
        }
        header .container .photo img {
            width: 70px;
            height: 70px;
            transform: translate(150%,25%);
        }
        header .container ul.nav-links{
            display: none;
        }
        header .container ul.nav2{
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--yellow);
            height: 240px;
            width: 95%;
            right: 19px;
            top: 95px;
            gap: 20px;
        }
        header .bars{
            display: flex;
            font-size: 36px;
            color: var(--danger);

        }
                header .container ul.nav2 li 
                {
                        padding: 10px;
                }
    }
header .container ul.nav2 li:hover{
    margin-top: 10px;
}
    @media  (min-width:769px) and (max-width:992px){

        header .container .photo img{
            left: 50%;
        }
    header .container ul.nav2 li {
        background: aqua;
            padding: 10px;
            border-radius: 10px;
    }
    }

/* Header Media */

.clock{
    background-color: #0d6dfd02;
    width: 95%;
    height: 35px;
    margin: 0px auto 2px auto;
    color: var(--danger);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Start Landing */

.landing .container  {
    width: 95%;
    margin: auto;
    overflow-x: hidden;
    position: relative;
    height: 100vh ;
    background-color: var(--gray-300);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Auto-write{
    font-size: 64px;
    color: #0d6efd;
}


section.landing .container .img{
    width: 45%;
}
section.landing .container .img img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
}
section.landing .container .text{
    width: 45%;
    display: flex;
    flex-flow:wrap column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 50px;
    text-align: center;
}
section.landing .container .text p{
    font-size: 20px;
    line-height: 2;
    color: var(--danger);
    font-weight: 600;
}


@media  (min-width: 280px) 
    and (max-width: 480px){
        section.landing .container{
            height: fit-content;
        }
        section.landing .container .img{
            width:100%;
        }
        section.landing .container .img img{
            width: 100%;
            height: 70%;
        }
        section.landing .container .text{
            width: 100%;
            height:70%;
        }
    }


@media  (min-width: 481px) 
    and (max-width: 1044px){

        section.landing .container{
            height: fit-content;
        }
        section.landing .container .img{
            width:40%;
        }
        section.landing .container .img img{
            width: 100%;
            height: 70%;
        }
        section.landing .container .text{
            width: 50%;
            height: 40%;
            
        }
        section.landing .container .text h1{
            font-size: 32px;
        }


    }
/* End Landing */
/* Services section  */

section.services .container{

    padding: 20px;
    width: 95%;
    height: fit-content;
}
.services .cards{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.services .cards .card{
    width: 250px;
    height: 270px;
    background-color: #0d6dfd27;
    color: var(--danger);
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.services .cards .card .img{
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-bottom: 10px;
}
.services .card .img i{
    font-size: 64px;

}
.services .card .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services .card .text p{
    font-size: 18px;
}


@media  (min-width: 280px) 
    and (max-width: 480px){
        .services .cards {
            width: 100%;
        }
    }
/* Services section  */

/* Contact Section  */
.contact .container .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
form .container{
    width: 300px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}
form .container .input-data{
    width:100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f0ecec;
    padding: 10px;
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: column ;
}
form .container input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 5px;
    transition: .2s ease;
    border-bottom: 2px solid var(--danger) ;
    color: var(--danger);
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
}
::-webkit-input-placeholder {
    color: #0d6dfd59;
}
.text-data{
    width:100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f0ecec;    padding: 10px;
    position: relative;
    min-height: 100px;
    display: flex;
    flex-direction: column ;
}
textarea{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--danger);
    border-bottom: 2px solid var(--danger) ;
    font-size: 15px;
    font-weight: 600;
    resize: none;
    overflow-y: scroll;

}
form .container .button{
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .container  button{
    width: 45%;
    padding: 10px;
    color: var(--danger);
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: #f0ecec;    cursor: pointer;
    position: relative;
    transition: .2 linear;
    border-radius: 10px;
}
form .container  button:hover{
    background-color: #0d6dfd27;
    color: var(--danger);
}
form .container  button::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0d6dfd59;
    transition: .2s linear;
}

.container .content .img{
    width: 30%;
    overflow: hidden;
}
.container .content .img img{
    width: 100%;
    border-radius: 20px;
}
@media  (min-width: 270px) 
    and (max-width: 564px){
        .contact .container {
            height: fit-content;
        }
        .contact .container  .main-title{
            font-size: 36px;
            font-weight: 900;
        }
        .container .content{
            padding: 10px;
            gap: 10px ;
        }
        form .container{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
    }
    .container .content .img{
        width: 100%;
        padding: 10px;
    }
    .container .content .img img{
        width: 100%;
    }
    form .container{
        width: 100%;
    }

    }
/* Contact Section  */
/* Footer Start  */
footer .container{
    height: 50vh;
    background-color: #f3f3f3;
    color: var(--danger);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
footer .container .para{
    width: 40%;
    line-height: 2;
    font-size: 24px;
}
footer .container .lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:50%

}
footer .container .lists .title{
    margin-bottom: 20px;
}
footer .container .lists ul li{

    margin-bottom: 10px;
}
footer .container .lists ul li a{
    font-size: 18px;
    color: var(--danger);
    transition: .2s linear;
    position: relative;
    overflow: hidden;
}
.lists ul li a::after{
    content: "";
    width:100%;
    height: 2px;
    background-color: var(--danger);
    position: absolute;
    bottom: -3px;
    display: none;
    left: 0;
}

@media  (min-width: 270px) 
    and (max-width: 728px){
        footer .container{
            height: fit-content;
        }
        footer .container .para{
            width: 100%;
            margin-bottom: 20px;
        }
        footer .container .lists{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        footer .container .lists ul {
            width: 50%;
            
        }
    }
/* Footer End  */
